#main-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

#main-container .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#main-container .form-signin .checkbox {
  font-weight: 400;
}

#main-container .form-signin .form-floating:focus-within {
  z-index: 2;
}

#main-container .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#main-container .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 로그인 버튼 스타일 */
#main-container .form-signin .btn-primary {
  background-color: #5463ff; /* 배경색 변경 */
  border: none; /* 테두리 제거 */
  color: #fff; /* 글자색 변경 */
  padding: 15px 20px; /* 패딩 조정 */
  font-size: 20px; /* 글꼴 크기 변경 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-weight: bold;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

#main-container .form-signin .btn-primary:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
}

/* h1 제목 스타일 */
#main-container .form-signin h1 {
  font-family: 'Arial', sans-serif; /* 폰트 패밀리 */
  font-size: 25; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵기 */
  color: #5463ff; /* 폰트 색상 */
}